FROM python:2.7

# Add the dockerproject repo
RUN apt-get update -y && \
    apt-get install -y apt-transport-https ca-certificates && \
    echo "deb https://apt.dockerproject.org/repo debian-jessie main">/etc/apt/sources.list.d/docker.list && \
    apt-key adv --keyserver hkp://p80.pool.sks-keyservers.net:80 --recv-keys 58118E89F3A912897C070ADBF76221572C52609D && \
    apt-get update -y

# Install Docker client tools
RUN apt-get install -y sudo apt-utils rsync git python-setuptools python-pip python-devel libffi-dev libssl-dev && \
    apt-get clean && rm -rf /var/lib/apt/lists/* /tmp/* /var/tmp/*

# Install Docker engine
RUN apt-get install -y docker-engine=1.13.1-0~debian-jessie && \
    apt-get clean && rm -rf /var/lib/apt/lists/* /tmp/* /var/tmp/*

# Install Drupsible/Ansible dependencies
RUN apt-get install -y zlib1g-dev libssl-dev libffi-dev && \
    apt-get install -y curl && \
    apt-get install -y git python python-setuptools python-pip && \
    pip install cryptography --upgrade && \
    pip install setuptools --upgrade && \
    pip install setupext-pip --upgrade && \
    pip install paramiko PyYAML Jinja2 httplib2 six markupsafe

# Installing the latest from Ansible to get synchronize module support.
RUN pip install -q --no-cache-dir -e git+https://github.com/ansible/ansible.git@devel#egg=ansible

# Install ruamel.yaml to support Galaxy role installation 
RUN pip install -q --no-cache-dir ruamel.yaml

RUN mkdir -p /etc/ansible/roles

ADD builder.sh /usr/local/bin/builder.sh
ADD ac_galaxy.py /usr/local/bin/ac_galaxy.py
ADD wait_on_host.py /usr/local/bin/wait_on_host.py
ADD ansible-container-inventory.py /etc/ansible/ansible-container-inventory.py
ADD ansible.cfg /etc/ansible/ansible.cfg

# Add Drupsible requirements
ADD ./ansible/requirements.yml /ansible/requirements.yml

# Add Drupsible inventory
ADD ./ansible/inventory/hosts /etc/ansible/inventory/hosts

# Install Drupsible roles
RUN ansible-galaxy install -r /ansible/requirements.yml --force

# Install Debops support
RUN pip install debops

# In 9deb3eb we moved to /usr/bin/ansible-playbook
# Let's ease the transition on people using <9deb3eb code
# by symlinking to the new place
RUN ln -s /usr/bin/ansible-playbook /usr/local/bin/ansible-playbook
